:root {
  --white-piece: #d29453;
  --black-piece: #351a0a;
  --white-board: #f9d9b1;
  --black-board: #783c23;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

#Board {
  margin: 0.1rem auto;
  width: 700px;
  border: 20px solid #612912;
  border-radius: 5px;
  /* height: 92vh; */
}

ul {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
ul li {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 0;
}
.white {
  z-index: 0;
  /* background-color: var(--white-board); */
  background-image: linear-gradient(45deg, var(--white-board), white);
}
.black {
  z-index: 0;
  background-color: var(--black-board);
  /* background-image: linear-gradient(45deg, var(--black-board), green); */
}
.text,
.num {
  font-weight: 800;
}
.text {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.num {
  position: absolute;
  top: 0;
  left: 5px;
}
.pieces {
  background-color: transparent;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.p_white {
  color: var(--white-piece);
}
.p_black {
  color: var(--black-piece);
}
.active {
  transition: all 0.2s;
  background-color: #d0d16a;
}
